$primaryStructuralBackgroundColor: rgb(27, 95, 180);
$primaryBackgroundColor: rgb(255, 255, 255);
$primaryStructuralColor: rgba(255, 255, 255, 0.87);
$primaryColor: rgba(0, 0, 0, 0.87);

p {
    text-align: left;
}